[package]
name = "tree_hash"
version = "0.5.0"
edition = "2021"
description = "Efficient Merkle-hashing as used in Ethereum consensus"
license = "Apache-2.0"
readme = "../README.md"
repository = "https://github.com/sigp/tree_hash"
documentation = "https://docs.rs/tree_hash"
keywords = ["ethereum"]
categories = ["cryptography::cryptocurrencies"]

[dependencies]
ethereum-types = "0.14.1"
lazy_static = "1.4.0"
sha2 = "0.10.6"
smallvec = "1.6.1"

[dev-dependencies]
rand = "0.8.5"
tree_hash_derive = { path = "../tree_hash_derive", version = "0.5.0" }
ethereum_ssz = "1.0.0-beta.2"
ethereum_ssz_derive = "1.0.0-beta.2"

[features]
arbitrary = ["ethereum-types/arbitrary"]
